.DS_Store
gameEngine/client
gameEngine/client.o
gameEngine/Makefile
gameEngine/server
gameEngine/server.o
gameEngine/character/Character.o
gameEngine/deathzone/DeathZone.o
gameEngine/event/CollisionEvent.o
gameEngine/event/DeathEvent.o
gameEngine/event/InputEvent.o
gameEngine/event/SpawnEvent.o
gameEngine/eventhandler/CollisionHandler.o
gameEngine/eventhandler/DeathHandler.o
gameEngine/eventhandler/InputHandler.o
gameEngine/eventhandler/SpawnHandler.o
gameEngine/eventmanager/EventManager.o
gameEngine/object/GameObject.o
gameEngine/object/ObjectList.o
gameEngine/platform/MovingPlatform.o
gameEngine/platform/Platform.o
gameEngine/sideboundary/SideBoundary.o
gameEngine/spawnpoint/SpawnPoint.o
gameEngine/time/Timeline.o
usgsFlightInfo/*.o
usgsFlightInfo/FlightInfo
usgsFlightInfo/output.txt
